@import "https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Raleway:wght@300;400;500&family=Roboto:wght@300;400;500;700&display=swap");

/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.userInterface header {
  position: fixed;
  height: 80px;
  width: 100%;
  box-shadow: 0px 0px 15px #00000026;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
  z-index: 10;
}

.userInterface header .logo {
  border: none;
  width: 220px;
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  background-color: transparent;
}

.userInterface main .userInterface-content-box {
  min-height: 100vh;
  background-image: url("../public/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.userInterface main .userInterface-content-box:after {
  content: "";
  display: block;
  position: absolute;
  width: 184px;
  height: 46px;
  background: url("../public/images/Sevenue_logo.svg");
  background-size: 100% 100%;
  bottom: 15px;
  z-index: 10;
}

.userInterface main .userInterface-content-box .redirectToSevenue {
  display: block;
  position: absolute;
  width: 184px;
  height: 46px;
  bottom: 15px;
  background-color: transparent;
  border: none;
  z-index: 11;
}

@media (max-width: 575.98px) {
  .userInterface main .userInterface-content-box:after,
  .userInterface main .userInterface-content-box .redirectToSevenue {
    width: 150px;
  }
}

.userInterface main .userInterface-content-box .splashScreen h1 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 1.2px;
}

.userInterface main .userInterface-content-box .splashScreen h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.userInterface main .userInterface-content-box .splashScreen .letsgo {
  background-color: #4b7ae8;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  max-width: 100%;
  font-size: 25px;
  margin: auto;
  display: -moz-box;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.userInterface main .userInterface-content-box .splashScreen .letsgo:hover {
  transform: scale(1.05);
}

.userInterface main .userInterface-content-box .splashScreen .letsgo.round {
  border-radius: 100px;
}

.userInterface main .userInterface-content-box .splashScreen .letsgo.rounded {
  border-radius: 10px !important;
}

.userInterface main .userInterface-content-box .splashScreen .letsgo.square {
  border-radius: 0px;
}

.userInterface main .userInterface-content-box .splashScreen .exclamation {
  display: flex;
  color: #4b7ae8;
  width: 480px;
  max-width: 100%;
  border: 1px solid #4b7ae8;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  align-items: center;
}

.userInterface main .userInterface-content-box .splashScreen .exclamation svg {
  font-size: 45px;
  margin-right: 5px;
  min-width: 20px;
}

.userInterface main .userInterface-content-box .splashScreen .exclamation p {
  margin: 0px;
  text-align: center;
  font-size: 15px;
}

.userAuthModal .modal-content {
  border: none;
  border-radius: 10px;
}

.userAuthModal .modal-body {
  background-color: #f4f4f6;
  border: none;
  border-radius: 10px;
  padding: 30px;
}

.userAuthModal h6 {
  color: #493e6f;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
  font-size: 20px;
}

.userAuthModal .inputs {
  width: 350px;
  max-width: 100%;
  margin: 15px auto;
}

.userAuthModal .inputBox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.userAuthModal p.error {
  margin-bottom: 10px;
  color: red;
}

.userAuthModal .inputBox label {
  margin: 0px;
  margin-right: 15px;
  width: 50px;
  font-weight: 600;
}

.userAuthModal .inputBox input {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  font-weight: 600;
  width: 100%;
  max-width: 100%;
}

@media (max-width: 575.98px) {
  .userAuthModal .inputBox {
    flex-wrap: wrap;
  }
}

.userAuthModal button {
  background-color: #4b7ae8;
  color: #fff;
  border: none;
  font-size: 20px;
  margin: auto;
  display: flex;
  padding: 5px 25px;
  border-radius: 10px;
}

.userInterface-content-box .capturePhoto .screenBox {
  width: 500px;
  height: auto;
  background-color: #fff;
  margin: auto;
  aspect-ratio: 1/1;
  max-width: 100%;
  border: 15px solid #f4f4f6;
  box-shadow: 0px 0px 15px #0000004a;
  border-radius: 5px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.userInterface-content-box .capturePhoto .screenBox.darkBack {
  z-index: 99;
}

.userInterface-content-box .capturePhoto .screenBox video {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 575.98px) {
  .userInterface-content-box .capturePhoto .screenBox {
    width: 435px;
    height: 435px;
  }
}

@media (max-width: 480px) {
  .userInterface-content-box .capturePhoto .screenBox {
    width: 420px;
    height: 420px;
  }
}

@media (max-width: 450px) {
  .userInterface-content-box .capturePhoto .screenBox {
    width: 395px;
    height: 395px;
  }
}

@media (max-width: 425px) {
  .userInterface-content-box .capturePhoto .screenBox {
    width: 360px;
    height: 360px;
  }
}

@media (max-width: 390px) {
  .userInterface-content-box .capturePhoto .screenBox {
    width: 320px;
    height: 320px;
  }
}

@media (max-width: 350px) {
  .userInterface-content-box .capturePhoto .screenBox {
    width: 290px;
    height: 290px;
  }
}

@media (max-width: 320px) {
  .userInterface-content-box .capturePhoto .screenBox {
    width: 100%;
    height: auto;
  }
}

.userInterface-content-box .capturePhoto .captureBox .captureNavs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userInterface-content-box .capturePhoto .captureBox .captureNavs button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #493e6f;
  background-color: transparent;
  border: none;
  margin: 10px;
  font-weight: 500;
  font-size: 16px;
  width: 150px;
}

.userInterface-content-box
  .capturePhoto
  .captureBox
  .captureNavs
  button.captureImg {
  color: #fff;
  border-radius: 50%;
  background-color: #4b7ae8;
  width: auto;
  padding: 16px;
}

.userInterface-content-box
  .capturePhoto
  .captureBox
  .captureNavs
  .uploadBtnBox
  label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #493e6f;
  background-color: transparent;
  border: none;
  margin: 10px;
  font-weight: 500;
  font-size: 16px;
  width: 150px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .userInterface-content-box
    .capturePhoto
    .captureBox
    .captureNavs
    .uploadBtnBox
    label,
  .userInterface-content-box .capturePhoto .captureBox .captureNavs button {
    width: 100px;
  }
}

.userInterface-content-box
  .capturePhoto
  .captureBox
  .captureNavs
  button.captureImg {
  min-width: 60px;
}

.userInterface-content-box
  .capturePhoto
  .captureBox
  .captureNavs
  .uploadBtnBox
  input {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.userInterface-content-box .capturePhoto .captureBox .captureNavs button svg,
.userInterface-content-box
  .capturePhoto
  .captureBox
  .captureNavs
  .uploadBtnBox
  label
  svg {
  font-size: 30px;
}

.userInterface main .userInterface-content-box .uploadBox {
  height: 400px;
  background-color: #f4f4f6;
  box-shadow: 0px 2px 10px #00000033;
  padding: 30px;
  outline: 2px solid #668dea;
  outline-offset: -12px;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 650px;
  max-width: 100%;
  margin: auto;
}

.userInterface main .userInterface-content-box .uploadBox h2 {
  color: #493e6f;
  font-size: 60px;
  margin-bottom: 45px;
  text-align: center;
}

.userInterface main .userInterface-content-box .uploadBox .uploadBtnBox {
  max-width: 100%;
}

.userInterface
  main
  .userInterface-content-box
  .uploadBox
  .uploadBtnBox
  .uploadLabelBtn {
  display: inline-block;
  vertical-align: middle;
  padding: 16px;
  -webkit-appearance: none;
  border: 1px solid transparent;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #4b7ae8;
  color: #fefefe;
  width: 280px;
  max-width: 100%;
  border-radius: 10px;
}

.userInterface
  main
  .userInterface-content-box
  .uploadBox
  .uploadBtnBox
  .uploadInput {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.userInterface main .userInterface-content-box .uploadBox .bottomButtons {
  margin-top: 15px;
}

.userInterface
  main
  .userInterface-content-box
  .uploadBox
  .bottomButtons
  button {
  color: #4b7ae8;
  border: none;
  background: transparent;
  font-size: 18px;
  margin: 10px 15px;
  padding: 0px;
}

.userInterface
  main
  .userInterface-content-box
  .uploadBox
  .uploadBtnBox
  .uploadLabelBtn.libraryImage {
  color: #4b7ae8;
  border: none;
  background: transparent;
  font-size: 18px;
  margin: 10px 15px;
  width: auto;
  padding: 0px;
}

.cropImageModal .modal-title {
  color: #493e6f;
  font-weight: 500;
}

.cropImageModal .modal-dialog {
  margin-top: 8%;
}

.cropImageModal .crop-container {
  width: 100%;
  height: 350px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cropImageModal .crop-container .loaderParent {
  position: absolute;
  inset: 0;
  background-color: #0000008f;
}

.cropImageModal .crop-container .loaderParent .loader {
  border-top: 1.1em solid #b4bed55b;
  border-right: 1.1em solid #b4bed55b;
  border-bottom: 1.1em solid #b4bed55b;
  border-left: 1.1em solid #ffffff;
}

.cropImageModal .modal-body {
  border: 1px solid #919191;
  padding: 0px;
}

.cropImageModal .controls {
  padding: 0px 15px;
  display: flex;
  align-items: center;
}

.cropImageModal .MuiSlider-root {
  height: 7px;
  padding: 13px 0;
  color: #4b7ae8;
}

.cropImageModal .MuiSlider-root .MuiSlider-rail {
  height: 8px;
  border-radius: 20px;
}

.cropImageModal .MuiSlider-root .MuiSlider-track {
  height: 8px;
  border-radius: 20px;
}

.cropImageModal .MuiSlider-root .MuiSlider-thumb {
  margin-top: -2px;
}

.cropImageModal .modal-footer {
  justify-content: space-between;
}

.cropImageModal .modal-footer .rotateButtons {
  display: flex;
  align-items: center;
}

.cropImageModal .modal-footer .rotateButtons button {
  margin-right: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #4c7ae8;
  border-radius: 50%;
  color: #fff;
  font-size: 22px;
}

.cropImageModal .modal-footer .submitBtn {
  background-color: #4b7ae8;
  padding: 8px 25px;
  box-shadow: none !important;
}

.editImageScreen .editImageBox {
  width: 450px;
  height: auto;
  aspect-ratio: 1/1;
  max-width: 100%;
  text-align: center;
  margin: auto;
  border: 10px solid #f4f4f6;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}

.editImageScreen .editImageBox .ImageDropBox {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
}

.editImageScreen .editImageBox #stickersDropzone {
  position: absolute;
  left: 0px;
  z-index: 999;
  right: 0px;
  bottom: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

#stickersDropzone div.sticker {
  cursor: pointer;
  width: -webkit-max-content;
  width: max-content;
  position: absolute;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  touch-action: none;
}

#stickersDropzone .activeSticker {
  outline: 2px solid #fff;
  outline-style: dashed;
  cursor: move !important;
}

#stickersDropzone .sticker .control {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

#stickersDropzone .sticker .deleteControl,
#stickersDropzone .sticker .transformControl {
  top: -16px;
  background-position: 50%;
  background-repeat: no-repeat;
}

#stickersDropzone .sticker .transformControl {
  right: -16px;
  background-color: #30aade;
  background-image: url("../public/images/resize-control.svg");
  background-size: 55% 55%;
}

.sticker .deleteControl {
  left: -16px;
  background-color: #8b0000;
  background-image: url("../public/images/delete-control.svg");
  background-size: 55% 55%;
}

.editImageScreen .bgRemoveError {
  background-color: #8c8c8c;
  font-size: 22px;
  text-align: center;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
}

.editImageScreen .addEffectBox {
  box-shadow: 0px 2px 20px #0000001f;
  background-color: #fff;
}

.editImageScreen .addEffectBox .tabButtons {
  display: flex;
  background-color: #d3e0ff;
  padding-bottom: 5px;
}

.editImageScreen .addEffectBox .tabButtons button {
  width: 50%;
  padding: 10px;
  border: none;
  color: #39435a;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editImageScreen .addEffectBox .tabButtons button.active {
  background-color: #fff;
}

.editImageScreen .addEffectBox .sliderBox {
  text-align: center;
}

.editImageScreen .addEffectBox .sliderBox {
  padding: 15px 45px;
}

.editImageScreen .addEffectBox .sliderBox .toolbarContainer {
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  height: 108px;
}

.editImageScreen .addEffectBox .sliderBox .toolbarContainer .toolbar {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: left;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.editImageScreen
  .addEffectBox
  .sliderBox
  .toolbarContainer
  .toolbar::-webkit-scrollbar {
  display: none;
}

.editImageScreen
  .addEffectBox
  .sliderBox
  .toolbarContainer
  .toolbar
  .toolbarItem {
  position: relative;
  display: inline-block;
  margin: 8px 6px 0;
  cursor: pointer;
  max-width: 120px;
  height: 76px;
  background-size: cover;
  object-fit: contain;
  transition: box-shadow 0.1s ease-out, -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out,
    -webkit-transform 0.1s ease-out;
}

.addEffectBox .slick-prev,
.addEffectBox .slick-next,
.controlButton svg {
  background-color: #7e8dad;
  color: #fff;
  width: 30px;
  height: 30px;
  padding: 6px 6px 6px 9px;
  border-radius: 50%;
}

.slick-next:before,
.slick-prev:before {
  display: none;
}

.addEffectBox .slick-prev {
  left: -35px;
  padding: 6px 9px 6px 6px;
}

.addEffectBox .slick-next {
  right: -35px;
}

.addEffectBox .slick-prev:hover,
.addEffectBox .slick-prev:focus,
.addEffectBox .slick-next:hover,
.addEffectBox .slick-next:focus,
.controlButton svg:hover,
.controlButton svg:focus {
  background-color: #7e8dad;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.setLoader {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderOnPage {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid #4b7ae85b;
  border-right: 1.1em solid #4b7ae85b;
  border-bottom: 1.1em solid #4b7ae85b;
  border-left: 1.1em solid #4b7ae8;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.loaderParent {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.editImageScreen .nextPrevBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.editImageScreen .nextPrevBtns button {
  border: none;
  margin: 5px;
  background-color: transparent;
  color: #493e6f;
  font-weight: bold;
}

.editImageScreen .nextPrevBtns button svg {
  background-color: #4c7ae8;
  color: #fff;
  width: 60px;
  height: 60px;
  padding: 15px;
  border-radius: 50%;
  overflow: visible !important;
}

.socialShareModal .modal-dialog {
  margin-top: 8%;
}

.socialShareModal .modal-dialog .modal-content {
  border-radius: 5px;
  overflow: hidden;
}

.socialShareModal .modal-dialog .modal-body {
  padding: 50px 30px;
  background-color: #f4f4f6;
}

.socialShareModal .modal-body .socialIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.socialShareModal .modal-body .socialIcons .bgBox {
  width: 50%;
  padding: 10px;
}

.socialShareModal .modal-body .socialIcons .bgBox button:active {
  background-color: #4b7ae8;
  color: #fff;
}

.socialShareModal .modal-body .socialIcons .bgBox button:active div {
  filter: brightness(0) invert(1);
}

.socialShareModal .modal-body .socialIcons .bgBox button {
  background-color: #fff;
  color: #504e4e;
  border: none;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

.socialShareModal .modal-body .socialIcons .bgBox button svg {
  font-size: 45px;
}

.userInterface main .userInterface-content-box.galleryContent {
  justify-content: flex-start;
}

.userInterface main .userInterface-content-box.darkBack:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #0000008a;
  z-index: 11;
}

.galleryContent .galleryBox {
  padding: 15px 0px;
}

.galleryContent .galleryBox .title h2 {
  color: #493e6f;
  font-weight: bold;
}

.galleryContent .galleryBox .imageSorting {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.galleryContent .galleryBox .imageSorting .sortBox {
  border: 2px solid #4c7ae8;
  border-radius: 5px;
  display: flex;
}

.galleryContent .galleryBox .imageSorting .sortBox span {
  background-color: #4c7ae8;
  height: 100%;
  padding: 5px 10px;
  color: #fff;
}

.galleryContent .galleryBox .imageSorting .sortBox select {
  border: none;
  font-size: 15px;
  padding: 5px 10px;
  outline: none;
}

.galleryContent .galleryBox .imagesBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.galleryContent .galleryBox .imagesBox button {
  margin: 10px;
  border: none;
  padding: 0px;
  background-color: transparent;
  display: flex;
}

.imagePrevModal .imgPreview {
  position: relative;
  display: flex;
}

.imagePrevModal .imgPreview .imgBox {
  display: flex;
}

.imagePrevModal .imgPreview .closeModalBtn {
  position: absolute;
  right: 0px;
  top: 0px;
  border: none;
  background-color: transparent;
  font-size: 25px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagePrevModal .modal-dialog {
  margin-top: 80px;
}

.imagePrevModal .imgPreview .textBox {
  padding: 30px 15px;
}

.imagePrevModal .imgPreview .textBox h6 {
  font-size: 18px;
  font-weight: bold;
}

.imagePrevModal .imgPreview .textBox ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.imagePrevModal .imgPreview .textBox ul li {
  margin-bottom: 5px;
}

.imagePrevModal .imgPreview .textBox ul li span {
  font-weight: bold;
}

.eventInterface header {
  position: fixed;
  height: 80px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 15px #00000026;
  box-shadow: 0px 0px 15px #00000026;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #fff;
  z-index: 999;
}

.eventInterface header .menuButton {
  display: flex;
  padding: 0px;
  font-size: 30px;
  border: none;
  background-color: transparent;
  color: #000;
}

.eventInterface header .eventNavs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.eventInterface header .eventNavs button {
  border: none;
  background-color: transparent;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 10px;
}

.eventNavs a {
  text-decoration: none;
}

.eventInterface header .eventNavs button.blue {
  background-color: #4b7ae8;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
}

.eventInterface header .eventNavs button.blue svg {
  margin-right: 10px;
  font-size: 22px;
}

.eventInterface main .adminInterface-content-box {
  min-height: 100vh;
  background-color: #f6f6f6;
  padding-top: 80px;
  padding-bottom: 70px;
  position: relative;
}

.eventInterface main .adminInterface-content-box:after {
  content: "";
  display: block;
  position: absolute;
  width: 184px;
  height: 46px;
  background: url("../public/images/Sevenue_logo.svg");
  background-size: 100% 100%;
  bottom: 15px;
  left: calc(50% - 90px);
  z-index: 10;
}

.eventInterface main .adminInterface-content-box .redirectToSevenue {
  display: block;
  position: absolute;
  width: 184px;
  height: 46px;
  bottom: 15px;
  left: calc(50% - 90px);
  background-color: transparent;
  border: none;
  z-index: 11;
}

@media (max-width: 575.98px) {
  .eventInterface main .adminInterface-content-box:after,
  .eventInterface main .adminInterface-content-box .redirectToSevenue {
    width: 150px;
  }
}

.mainWrapper {
  display: flex;
}

.mainWrapper aside {
  padding: 100px 0px 25px;
  width: 300px;
  background-color: #fff;
  box-shadow: 0px 0px 15px #00000014;
}

.mainWrapper aside ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.mainWrapper aside ul li {
  font-size: 20px;
  color: #6e6e6e;
  margin-bottom: 0px;
  cursor: pointer;
}

.mainWrapper aside ul li span {
  display: flex;
  align-items: center;
  padding: 15px 25px;
}

.mainWrapper aside ul li span svg {
  margin-right: 10px;
}

.mainWrapper aside ul li.active {
  background-color: #4b7ae8;
  color: #fff;
}

.mainWrapper main {
  width: 100%;
}

.mainWrapper main.withNavs {
  width: calc(100% - 300px);
}

@media (min-width: 992px) {
  .eventInterface header .menuButton {
    display: none;
  }
}
@media (max-width: 991px) {
  .mainWrapper aside {
    position: absolute;
    inset: 0px auto;
    width: 250px;
    left: -100%;
    transition: 0.6s;
  }

  .mainWrapper aside.active {
    left: 0px;
    z-index: 9;
  }

  .mainWrapper main.withNavs {
    width: 100%;
  }
}

.eventInterface main .adminInterface-content-box.eventLoginAuth {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.adminInterface-content-box.eventLoginAuth h5 {
  width: max-content;
  padding: 0px 50px 7px;
  margin: 0 auto 30px;
  color: #6277e1;
  border-bottom: 2px solid #6277e1;
}

.adminInterface-content-box.eventLoginAuth p.textAdv {
  color: #201b1b;
  font-weight: 600;
  font-size: 18px;
}

.adminInterface-content-box.eventLoginAuth .width-500 {
  width: 500px;
  max-width: 100%;
  margin: auto;
}

.adminInterface-content-box.eventLoginAuth .inputBox {
  display: flex;
  flex-direction: column;
  border: 2px solid #4b7ae8;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0px 10px 5px;
}

.adminInterface-content-box.eventLoginAuth .inputs label {
  margin: 0px;
  color: #4b7ae8;
  font-size: 14px;
}

.adminInterface-content-box.eventLoginAuth .inputs input {
  border: none;
  outline: none;
}

.adminInterface-content-box.eventLoginAuth .inputs button {
  background-color: #4b7ae8;
  color: #fff;
  border: none;
  padding: 10px 30px;
  font-size: 18px;
  display: flex;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
}

.adminInterface-content-box .workspace {
  padding: 30px 50px;
}

.adminInterface-content-box .workspace.overviewBox .numCards .bgCard {
  background-color: #4c7ae8;
  padding: 35px 25px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.adminInterface-content-box .workspace.overviewBox .numCards .bgCard h4 {
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.adminInterface-content-box .workspace.overviewBox .numCards .bgCard p {
  margin: 0px;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.adminInterface-content-box .workspace .boothDetails .bgBox {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 25px;
}

.adminInterface-content-box .workspace .boothDetails .bgBox h3 {
  color: #262626;
  font-size: 25px;
  padding: 0px 10px 10px;
  border-bottom: 2px solid #d1d1d1;
  margin-bottom: 15px;
}

.workspace .boothDetails .bgBox .detailsBox {
  padding: 15px;
}

.workspace.overviewBox .boothDetails .bgBox .detailsBox .textBox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.workspace.overviewBox .boothDetails .bgBox .detailsBox .textBox h6 {
  font-size: 15px;
  color: #262626;
  font-weight: 600;
  width: 220px;
  margin: 0px;
  padding-right: 10px;
}

.workspace.overviewBox .boothDetails .bgBox .detailsBox .textBox p {
  margin: 0px;
  border: 1px solid #d9d9d9;
  width: 100%;
  background-color: #f6f6f6;
  padding: 8px 12px;
  border-radius: 5px;
}

.workspace.overviewBox .boothDetails .bgBox .detailsBox .textBox a {
  width: 100%;
  color: #4b7ae8;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.workspace.overviewBox .boothDetails .bgBox .detailsBox .textBox a svg {
  margin-left: 10px;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox label {
  font-size: 15px;
  color: #262626;
  font-weight: 600;
  width: 250px;
  margin: 0px;
  padding-right: 10px;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox label.required:after {
  content: "*";
  color: #ff0000;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox span.hashtag {
  margin-right: 5px;
  font-size: 22px;
  font-weight: 500;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox input,
.workspace .boothDetails .bgBox .detailsBox .inputBox select,
.workspace .boothDetails .bgBox .detailsBox .inputBox textarea {
  margin: 0px;
  border: 1px solid #d9d9d9;
  width: 100%;
  background-color: transparent;
  padding: 8px 12px;
  border-radius: 5px;
  outline: none;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox select {
  background-image: url("../public/images/down_arrow.svg");
  background-position: calc(100% - 10px) 50%;
  background-size: 16px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox .subInputs {
  width: 100%;
  margin-bottom: -15px;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox .subInputs > div {
  margin-bottom: 15px;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox .subInputs label {
  width: auto;
  font-size: 13px;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox .selectButton {
  width: 100%;
  margin-bottom: -15px;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox .selectButton > div {
  margin-bottom: 15px;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox .selectButton .borderBox {
  padding: 15px;
  border: 2px solid #929292;
  border-radius: 5px;
  background-color: #f6f6f6;
}

.workspace
  .boothDetails
  .bgBox
  .detailsBox
  .inputBox
  .selectButton
  .borderBox
  .radioBox {
  margin-bottom: 10px;
}

.workspace
  .boothDetails
  .bgBox
  .detailsBox
  .inputBox
  .selectButton
  .borderBox
  .radioBox
  input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.workspace
  .boothDetails
  .bgBox
  .detailsBox
  .inputBox
  .selectButton
  .borderBox
  .radioBox
  label {
  width: auto;
  position: relative;
  cursor: pointer;
}

.workspace
  .boothDetails
  .bgBox
  .detailsBox
  .inputBox
  .selectButton
  .borderBox
  .radioBox
  label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #6e6e6e;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 50%;
}

.workspace
  .boothDetails
  .bgBox
  .detailsBox
  .inputBox
  .selectButton
  .borderBox
  .radioBox
  input:checked
  + label:before {
  background-color: #6e6e6e;
}

.workspace
  .boothDetails
  .bgBox
  .detailsBox
  .inputBox
  .selectButton
  .borderBox
  .radioBox
  input:checked
  + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  width: 7px;
  height: 12px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.workspace
  .boothDetails
  .bgBox
  .detailsBox
  .inputBox
  .selectButton
  .borderBox
  button {
  background-color: #4b7ae8;
  border: none;
  padding: 8px 30px;
  color: #fff;
  margin: auto;
  display: flex;
  font-size: 17px;
  pointer-events: none;
  width: 120px;
  text-align: center;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.workspace
  .boothDetails
  .bgBox
  .detailsBox
  .inputBox
  .selectButton
  .borderBox
  button.round {
  border-radius: 50px;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox .logoUploadBox {
  position: relative;
  display: flex;
  flex-direction: column;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox .logoUploadBox .logo {
  margin-top: 15px;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox .logoUploadBox label {
  width: max-content;
  box-shadow: 2px 2px 15px #00000029;
  padding: 8px 20px;
  border-radius: 5px;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox .logoUploadBox label svg {
  font-size: 22px;
  margin-right: 12px;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox .logoUploadBox input {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.workspace .boothDetails .bgBox .detailsBox .inputBox .bgUploadBox {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 400px;
  justify-content: center;
  background-color: #f4f4f6;
  box-shadow: 2px 2px 8px #0000003d;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox .bgUploadBox .logo {
  margin-top: 15px;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox .bgUploadBox label {
  width: max-content;
  box-shadow: 2px 2px 15px #00000029;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 17px;
  position: relative;
  z-index: 9;
  background-color: #fff;
  cursor: pointer;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox .bgUploadBox label svg {
  font-size: 22px;
  margin-right: 12px;
  color: #4b7ae8;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox .bgUploadBox input {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.workspace .boothDetails .blueSaveBtn {
  background-color: #4b7ae8;
  color: #fff;
  padding: 10px 30px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.workspace .boothDetails .blueSaveBtn svg {
  font-size: 22px;
  margin-right: 10px;
}

.workspace .boothDetails .editBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.workspace .boothDetails .editBox button {
  margin: 10px;
}

.workspace .boothDetails .editBox button.blueBorderBtn {
  background-color: #fff;
  color: #4b7ae8;
  padding: 10px 30px 7px;
  font-size: 17px;
  border: 2px solid #4b7ae8;
  border-radius: 5px;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
}

.workspace.boothAssetsBox
  .boothDetails
  .bgBox
  .detailsBox
  .inputBox
  .bgUploadBox {
  aspect-ratio: 1/1 !important;
  width: 300px;
  max-width: 100%;
  height: auto;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox .labelTexts {
  width: 250px;
  margin: 0px;
  padding-right: 10px;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox .labelTexts p {
  margin: 0px;
  font-size: 13px;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox .addImgsBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox .addImgsBox .selectedImg {
  width: 100px;
  aspect-ratio: 1/1;
  position: relative;
  height: auto;
  box-shadow: 0px 0px 15px #0000002b;
  margin: 10px;
}

.workspace
  .boothDetails
  .bgBox
  .detailsBox
  .inputBox
  .addImgsBox
  .selectedImg
  .closeBtn {
  position: absolute;
  z-index: 1;
  border: 0px;
  color: #fff;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 3px;
  font-size: 15px;
  right: -10px;
  top: -10px;
}

.workspace
  .boothDetails
  .bgBox
  .detailsBox
  .inputBox
  .addImgsBox
  .addImgsBtn
  input {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.workspace
  .boothDetails
  .bgBox
  .detailsBox
  .inputBox
  .addImgsBox
  .addImgsBtn
  label {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin: 10px;
}

.workspace
  .boothDetails
  .bgBox
  .detailsBox
  .inputBox
  .addImgsBox
  .addImgsBtn
  label
  svg {
  background-color: #4b7ae8;
  color: #fff;
  font-size: 50px;
  padding: 10px;
  margin-bottom: 10px;
}

.workspace .boothDetails .bgBox .detailsBox .authInputBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.workspace .boothDetails .bgBox .detailsBox .authInputBox .labels label {
  font-weight: 600;
  margin-bottom: 0px;
}

.workspace .boothDetails .bgBox .detailsBox .authInputBox .labels p {
  color: #8c8c8c;
}

.workspace .boothDetails .bgBox .detailsBox .imgDetailsTable .entriesImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.workspace .boothDetails .bgBox .detailsBox .imgDetailsTable .changeBtn {
  border: 2px solid #4b7ae8;
  background-color: transparent;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.workspace .boothDetails .bgBox .detailsBox .imgDetailsTable .changeBtn svg {
  font-size: 18px;
  margin-right: 5px;
  color: #4b7ae8;
}

.workspace
  .boothDetails
  .bgBox
  .detailsBox
  .imgDetailsTable
  .rdt_TableCol_Sortable {
  font-size: 14px;
  font-weight: bold;
}

.workspace .boothDetails .bgBox .detailsBox .imgDetailsTable .buttonsBlues {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.workspace .boothDetails .bgBox .detailsBox .imgDetailsTable .rdt_TableCol {
  min-width: 120px;
}

.workspace
  .boothDetails
  .bgBox
  .detailsBox
  .imgDetailsTable
  .rdt_TableCol:nth-child(n + 10) {
  min-width: 150px;
}

.workspace .boothDetails .bgBox .detailsBox .imgDetailsTable .rdt_TableCell {
  font-size: 14px;
  min-width: 120px;
}

.workspace
  .boothDetails
  .bgBox
  .detailsBox
  .imgDetailsTable
  .rdt_TableCell:nth-child(n + 10) {
  min-width: 150px;
}

.adminInterface-content-box .workspace .boothDetails .superBgBox {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 25px;
  position: relative;
}

.adminInterface-content-box .workspace .boothDetails .superBgBox .topEvents {
  color: #fff;
  border-radius: 5px;
  border: none;
  background-color: #4c7ae8;
  padding: 20px 12px;
  border-radius: 10px;
  width: 125px;
  font-size: 14px;
  text-align: center;
  position: absolute;
  top: -35px;
  left: 10px;
}

.adminInterface-content-box
  .workspace
  .boothDetails
  .superBgBox
  .topEventTable {
  margin: 10px 0 0;
}

.adminInterface-content-box
  .workspace
  .boothDetails
  .superBgBox
  .topEventTable
  th {
  font-weight: 600;
  font-size: 15px;
  border: none;
  padding: 8px;
}

.adminInterface-content-box
  .workspace
  .boothDetails
  .superBgBox
  .topEventTable
  td {
  font-size: 15px;
  border: none;
  padding: 8px;
}

.adminInterface-content-box
  .workspace
  .boothDetails
  .superBgBox
  .topEventTable
  tbody
  td:nth-child(2) {
  color: #4c7ae8;
  font-weight: 500;
}

.adminInterface-content-box .workspace .boothDetails .viewMoreEvent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0 10px auto;
  color: #fff;
  border: none;
  background-color: #4c7ae8;
  padding: 6px 15px;
  border-radius: 5px;
}

.eventDeleteModal {
  text-align: center;
}

.eventDeleteModal .eventPreview {
  padding: 30px 15px;
}

.eventDeleteModal svg {
  color: #f54747;
  font-size: 70px;
  margin-bottom: 20px;
}

.eventDeleteModal h3 {
  color: #000;
  font-weight: bold;
  font-size: 25px;
}

.eventDeleteModal p {
  color: #201b1b;
  font-size: 18px;
}

.eventDeleteModal .actionBtns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.eventDeleteModal .actionBtns button {
  font-size: 16px;
  margin: 10px;
  padding: 8px 25px;
  border-radius: 5px;
  border: 2px solid;
  border-color: #4c7ae8;
}

.eventDeleteModal .actionBtns .bgBtn {
  background-color: #4c7ae8;
  color: #fff;
}

.eventDeleteModal .actionBtns .borderBtn {
  color: #4c7ae8;
  background-color: transparent;
}

.editImageBox .konvajs-content {
  aspect-ratio: 1/1;
  max-width: 100%;
  height: auto;
}

.editImageBox .konvajs-content canvas {
  aspect-ratio: 1/1;
  max-width: 100%;
  height: auto;
}

#item {
  width: 100px;
  height: 100px;
  background-color: red;
}

.qrcodeModal.modal {
  backdrop-filter: blur(5px);
}

.qrcodeModal .modal-dialog {
  margin-top: 12%;
}

@media (min-width: 576px) {
  .qrcodeModal .modal-dialog {
    max-width: 400px;
  }
}

.qrcodeModal .modal-content {
  background-color: #f4f4f6;
}

.qrcodeModal .modal-header {
  border: 0px;
  padding: 0px;
}

.qrcodeModal .modal-header .close {
  margin: 7px 10px 0 auto;
  padding: 0;
}

.qrcodeModal .modal-body {
  text-align: center;
  padding: 5%;
}

.qrcodeModal .modal-body .qrcodeBox {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: max-content;
  background-color: #fff;
}

.qrcodeModal .modal-body h3 {
  color: #493e6f;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
}

.qrcodeModal .modal-body p {
  color: #504e4e;
  font-weight: 500;
}

.qrcodeModal .modal-body button {
  color: #4b7ae8;
  border: none;
  padding: 0px;
  display: flex;
  margin-left: auto;
  background-color: transparent;
}

.captureAnimation {
  display: flex;
  border-radius: 50%;
  padding: 17px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  inset: 0px;
}

.captureAnimation .TimerBox {
  font-weight: bold;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 200px;
  color: #fff;
  text-shadow: 0px 0px 15px #0000003d;
  position: relative;
}

/* .captureAnimation .TimerBox:after{
  
  content: "3";
  font-weight: bold;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 200px;
  color: #fff;
  text-shadow: 0px 0px 15px #0000003d;
  position: absolute;
  -webkit-animation: scale-out-center 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-center 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes scale-out-center {
  0% {
    content: "3";
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  
  40% {
    content: "2";
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  
  80% {
    content: "1";
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }

  100% {
    content: "0";
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    content: "3";
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  
  40% {
    content: "2";
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  
  80% {
    content: "1";
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }

  100% {
    content: "0";
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
} */

.dataTableBlueBtn {
  background-color: #5e86e6;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataTableBlueBtn svg {
  margin-right: 5px;
}

.dataTableBlueBtn a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataTableBlueBtn a:hover {
  color: #fff;
  text-decoration: none;
}

.captureAnimation .TimerBox:hover {
  transform: scale(1.04);
}

@media (max-width: 991px) {
  .userInterface main .userInterface-content-box .splashScreen h2 {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .userInterface main .userInterface-content-box .uploadBox h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.dataTableBtnGroup {
  display: flex;
  justify-content: flex-end;
}

.dataTableBtnGroup svg {
  font-size: 22px;
  margin-right: 5px;
}

.dataTableBtnGroup .createBtn {
  background-color: transparent;
  color: #5e86e6;
  border: 2px solid #5e86e6;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataTableBtnGroup .createBtn svg {
  color: #fff;
  background-color: #5e86e6;
  padding: 4px;
  border-radius: 50%;
}

.OverlayImage {
  position: absolute;
  inset: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.hashTagAdd {
  color: #5b5a5a;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.hiddenCanvas {
  overflow: hidden;
  visibility: hidden;
  position: fixed;
}

.postIcon {
  background-color: #4c7ae8;
  color: #fff;
  width: 60px;
  height: 60px;
  padding: 15px;
  border-radius: 50%;
  overflow: visible !important;
}

@media (max-width: 575px) {
  .workspace .boothDetails .bgBox .detailsBox .inputBox {
    flex-wrap: wrap;
  }
  .workspace .boothDetails .bgBox .detailsBox .inputBox label {
    width: 100%;
  }
}

.editdataTable .rdt_Pagination span:first-child {
  display: none;
}

.editdataTable .rdt_Pagination select,
.editdataTable .rdt_Pagination select + svg {
  display: none;
}

.customPagination {
  white-space: nowrap;
  padding: 2px 5px;
}

.MuiTablePagination-caption,
.MuiTablePagination-input {
  display: none !important;
}

.MuiTablePagination-root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiIconButton-root {
  font-size: 20px !important;
  padding: 0px !important;
  color: #000 !important;
  filter: brightness(0);
}

.MuiIconButton-root:disabled {
  font-size: 20px;
  padding: 0px;
  color: rgba(0, 0, 0, 0.26) !important;
  filter: none !important;
}

.MuiIconButton-root:hover {
  background-color: transparent;
}

.paginationIcons {
  margin: 3px;
}

.EventsFilters h6 {
  margin-bottom: 5px;
}

.EventsFilters .filterButtons button {
  border: none;
  background: transparent;
  font-size: 14px;
  padding: 0px 10px;
  border-right: 2px solid #000;
  font-weight: bold;
  color: #5e86e6;
}

.EventsFilters .filterButtons button.active {
  color: #000;
}

.EventsFilters .filterButtons button:last-child {
  border: none;
}

.workspace .boothDetails .bgBox .detailsBox .inputBox input:disabled {
  background-color: #d9d9d9;
}

.eventInterface header .eventNavs .blueLink {
  border: none;
  background-color: transparent;
  font-weight: 600;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  margin: 5px 10px;
  background-color: #4b7ae8;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
}

.downloadBlueBtn {
  background-color: #5e86e6;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 25px;
  margin: 15px 10px;
  font-size: 18px;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
}

.eventErrorMsg {
  margin-top: -25px;
  margin-bottom: 20px;
  color: #ff0000;
}

.unSqueseLogo img {
  width: auto !important;
  min-width: auto !important;
  max-width: inherit !important;
  min-height: 100% !important;
  max-height: 100% !important;
}

.warningIcon {
  max-width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
